.fuente1 {
    font-weight: bold;
    font-size: 18px;
}

.fuente2 {
    font-weight: bold;
}

ion-searchbar {
    margin: auto;
    width: 350px;
    text-transform: uppercase;
}

.my-custom-class {
    background: red !important;
}