<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Busqueda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Ingresa el codigo de la unidad"></ion-searchbar>
    <ion-grid>
        <ion-row>
            <ion-col style="float: right;">
                <ion-button style="float:initial" routerLink="/home" color="danger">Buscar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h2>Efecto zoom</h2>
    <div style='text-align:center;'>
        <div class="zoom">Efecto de zoom con CSS3</div>
        <img class="zoom" src="http://www.lawebdelprogramador.com/logolwp100x25.jpg" />
    </div>

</ion-content>