<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-select placeholder="Buscar Por..."></ion-select>
    <br>
    <ion-searchbar placeholder="inserta codigo de unidad"></ion-searchbar>
    <br>
    <ion-grid>
        <ion-row>

            <ion-col style="float: right;">
                <!-- <ion-button (click)="siguiente()" style="float: right;" disabled="{{HabilitarSiguiente}}">Siguiente </ion-button> -->
                <ion-button style="float: right;" color="danger" routerLink="/busqueda">Nuevo Reporte</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>