<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Vista </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="salir()">cerrar</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slides pager="true" [options]="slideOpts">
        <div *ngFor="let fotos of imagenes index as i">
            <ion-slide *ngIf="fotos !== ''">

                <ion-grid>

                    <ion-row>
                        <ion-img src="{{url}}imagen/{{fotos}}.png "></ion-img>

                    </ion-row>

                </ion-grid>

            </ion-slide>
        </div>

    </ion-slides>


</ion-content>