<ion-header [translucent]="true">

    <ion-toolbar color="danger">
        <ion-buttons style="height: 30px;">
            <ion-title>
                Reporte
                <!--   <ion-img src="assets/logoTrucka.png" style="height: 30px;"></ion-img>-->

            </ion-title>
            <ion-img style="height: 30px; margin-left: 140px;" src="assets/logoTrucka.png"></ion-img>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="main">
        <h2>{{trailer}}</h2>
        <h2 style="color: black;">{{articulo.recordset[0].ubicacion}}</h2>
        <ion-img style="height: 250px;" src="assets/trailer.jpg"></ion-img>
    </div>
    <div *ngIf="!terminado">

        <div>
            <ion-list>

                <ion-radio-group [(ngModel)]="reporte[posicion].estado" (ngModelChange)="checarEstado()">
                    <ion-list-header>
                        <h3> {{articulo.recordset[posicion].nombre}}</h3>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Buen Estado</ion-label>
                        <ion-radio slot="start" value="Buen Estado"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Dañado</ion-label>
                        <ion-radio slot="start" value="Dañado"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>No Existe</ion-label>
                        <ion-radio slot="start" value="No Existe"></ion-radio>
                    </ion-item>


                </ion-radio-group>
            </ion-list>

            <ion-list *ngIf="reporte[posicion].estado === 'Dañado'">
                <ion-radio-group [(ngModel)]="reporte[posicion].valor" (ngModelChange)="checarEstado()">


                    <ion-list-header>
                        <h3>Selecciona el daño encontrado</h3>
                    </ion-list-header>

                    <ion-item *ngIf="articulo.recordset[posicion].valor1">
                        <ion-label>{{articulo.recordset[posicion].valor1}}</ion-label>
                        <ion-radio slot="start" value="{{articulo.recordset[posicion].valor1}}"></ion-radio>
                    </ion-item>
                    <ion-item *ngIf="articulo.recordset[posicion].valor2">
                        <ion-label>{{articulo.recordset[posicion].valor2}}</ion-label>
                        <ion-radio slot="start" value="{{articulo.recordset[posicion].valor2}}"></ion-radio>
                    </ion-item>
                    <ion-item *ngIf="articulo.recordset[posicion].valor3">
                        <ion-label>{{articulo.recordset[posicion].valor3}}</ion-label>
                        <ion-radio slot="start" value="{{articulo.recordset[posicion].valor3}}"></ion-radio>
                    </ion-item>
                    <ion-item *ngIf="articulo.recordset[posicion].valor4">
                        <ion-label>{{articulo.recordset[posicion].valor4}}</ion-label>
                        <ion-radio slot="start" value="{{articulo.recordset[posicion].valor4}}"></ion-radio>
                    </ion-item>



                </ion-radio-group>
            </ion-list>
        </div>

        <img (click)="hacerFoto()" src="assets/addImage.png" *ngIf="reporte[posicion].estado === 'Dañado' &&  reporte[posicion].imagen === '' ">
        <ion-img style="height: 150px;" src="{{reporte[posicion].imagen}}" *ngIf="reporte[posicion].estado === 'Dañado' && reporte[posicion].imagen !== '' "></ion-img>

        <ion-item *ngIf="reporte[posicion].estado === 'Dañado'">
            <ion-label position="stacked">Comentarios</ion-label>
            <ion-textarea placeholder="Escribe un comentario">
            </ion-textarea>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button (click)="anterior()" *ngIf="posicion > 0">Anterior </ion-button>
                </ion-col>


                <ion-col style="float: right;">
                    <ion-button (click)="siguiente()" style="float: right;" disabled="{{HabilitarSiguiente}}">Siguiente </ion-button>

                </ion-col>

            </ion-row>

        </ion-grid>
    </div>
    <div *ngIf="terminado">
        <h3>Reporte terminado</h3>
        <h2>Gracias!</h2>

        <ion-button routerLink="/start" (click)="enviar()">Enviar </ion-button>

    </div>

</ion-content>